html {
  box-sizing: border-box;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  margin: 0% 15% 0% 15%;
}
header {
  font-size: x-large;
  background-color: rgb(175, 190, 154);
  padding: 15px;
  display: flex;
}
header nav {
  font-size: large;
  word-spacing: 500%;
}
#title {
  padding-left: 10px;
}
#logo {
  width: 10%;
  border: rgb(115, 28, 28) 5px solid;
}
nav a {
  padding: 2px;
}
a:hover {
  background-color: cornflowerblue;
  color: white;
}
footer {
  background-color: rgb(175, 190, 154);
  padding: 5px;
}
.container img {
  height: 100%;
  width: 100%;
}
.container {
  border: rgb(115, 28, 28) 5px solid;
  width: 33%;
  background-color: rgb(212, 165, 165);
}
.photos {
  display: flex;
}
figcaption {
  text-align: center;
}
figure hr {
  color: rgb(115, 28, 28);
}
article {
  line-height: 0.25;
}
a {
  text-decoration: none;
  color: rgb(115, 28, 28);
}
.gallerypage {
  display: flex;
  flex-wrap: wrap;
}

figure.gallery {
  max-width: 43%;
  max-height: 100%;
}

.gallery img {
  max-width: 100%;
  width: auto;
  height: auto;
  border: rgb(115, 28, 28) solid 5px;
}
.utterances {
}

